{% extends 'base2.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tom's Blog</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
    <div class="row">
        {% for blog in blog_posts %}
        <div class="left-column">
            <div class="card">
                <a href="{% url 'blog:blog_post' blog.id %}">
                    <h2>{{ blog.blog_title }}</h2>
                    <h5>{{ blog.blog_date }}</h5>
                <img src="{{ blog.blog_image.url }}">
                </a>
            </div>
        </div>
        {% endfor %} 
        <div class="right-column">
            <div class="card">
                <a href="{% url 'portfolio_app' %}">
                    <h2>Tom's Portfolio</h2>
                    <img src="{% static 'images/portfolio_snip2.png' %}">
                    <p>Back to Tom's Portfolio</p>
                </a>
            </div>
            <div class="card">
                <h2>Social Media</h2>
                <a href="https://www.linkedin.com/in/thomaslohan/">
                    <img src="{% static 'images/LILogo.png' %}"/>
                    <p>Click here to view Thomas's LinkedIn Profile</p>
                </a>
                <a href="https://github.com/TLohan13">
                    <img src="{% static 'images/github-mark-white.png' %}"/>
                    <p>Click here to view Thomas's LinkedIn Profile</p>
                </a> 
            </div>
        </div>

    </div>
</div>
</body>
</html>
{% endblock %}







